<form method="post" action="/confirm_name">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="first_name" value="{{ first_name }}">
    <input type="hidden" name="last_name" value="{{ last_name }}">
    <p>Select your ghost name:</p>
    <div class="list-group">
        {% for ghost in ghosts %}
        <label class="list-group-item">
            <input type="radio" name="ghost_id" value="{{ ghost.key.id()}}" required>
            {{ ghost.ghost_name }}
        </label>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-success mt-3">Confirm Name</button>
</form>
