{% extends "_base.html" %}

{% block body %}

<h1 class="display-4">Ghost List</h1>

<!-- Table-like structure using Bootstrap Grid -->
<div class="container">
    <div class="row bg-dark text-white fw-bold py-2">
        <div class="col-2">Email</div>
        <div class="col-1">First Name</div>
        <div class="col-2">Ghost Name</div>
        <div class="col-1">Last Name</div>
        <div class="col-6">Description</div>
    </div>

    {% for ghost in ghosts %}
    <div class="row border-bottom py-2">
        <div class="col-2">{{ ghost.email or "" }}</div>
        <div class="col-1">{{ ghost.first_name or "" }}</div>
        <div class="col-2">{{ ghost.ghost_name or "" }}</div>
        <div class="col-1">{{ ghost.last_name or "" }}</div>
        <div class="col-6">{{ ghost.description or "" }}</div>
    </div>
    {% endfor %}
</div>

{% endblock body %}

